<?xml version="1.0" ?>
<launch>
  <!-- params -->
  <param name="scan_topic" value="/scan" />
  <param name="fixed_frame" value="camera_depth_frame"/>
  <param name="scan_frequency" value="10"/>  
  
  
  <!-- run rosserial_python -->  
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" args="/dev/ttyACM0"/>

  <!-- run joint_leg_tracker -->
  <node pkg="openni_tracker_torreta" type="openni_tracker_torreta" name="openni_tracker_torreta" output="screen"/>
   
</launch>

